/* CSS for header, body, and footer starts here */
body {
    background: rgb(44, 49, 59);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    font-family: "Poppins", sans-serif;
    
}

#background-container {
    background-image: url("./components/images/john-towner-JgOeRuGD_Y4-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    margin: 0;

}


.jumbotron {
    background: #123;
    max-height: 445px;
    margin: 0;
}
    
          

#logo {
    max-width: 200px;
    max-height: 200px;
    margin-left: 50px;
    float: left;
}
    
    

.lead {
    padding-left: 4px;
    
}

.tabs {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
    transform: translateY(75px);
    
    
}

/* Styling for the home page starts here */
#home-card {
    background: transparent;;
    border: 1px solid transparent;
    max-width: 80%;
    margin: auto;
    padding-top: 135px;    
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home-card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#portfolio-button {
    border-radius: 20px;
    color: #f8f9fa;
    font-size: larger;
    border:  1px solid #123;
    background: #123;
    

}





#console-log {
    color: #f8f9fa;
    
}

#home-card-text {
    color: #f8f9fa;
    padding-bottom: 100px;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 15px;
    
    
}


a {
    color: #f8f9fa;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
    
    
}

.footer {
  position: fixed;
  bottom: 0;
   width: 100%;
   height: 55px;
   background: #123;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 15px;

}

.svg {
    color: #f8f9fa;
    background-color: transparent;
    height: 35px;  
}

.svg:hover {
   color: #000;
   animation: ease-in;
   
}

#link-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

/* Styles for the portfolio page start here */

#portfolio-title {
    color: #f8f9fa;
    padding-top: 25px;
    
}

#portfolio-subtitle {
    color: #f8f9fa;
    padding-top: 25px;
    
}

.portfolio-container {
    
    display: flex;
    flex-direction: row;  
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center
   
    
}

.portfolio-card {
    width: 32%;
    color: #f8f9fa;
    background-color: transparent;
    margin: 5px;
    overflow: hidden;
}



.card-img-top {
    max-height: 350px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    
}

.card-img-top:hover {
   -moz-transform: scale(1.1);
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

/* Styles for the contact page start here */

#contact-header {
    text-align: center;
    color:#f8f9fa;
    padding-top: 25px;
    padding-bottom: 25px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 45%;
   
    align-items: center;
    margin: auto;
    padding-bottom: 100px;    
    justify-content: center;
}

.contact-label {
    color: #f8f9fa;
    font-size: larger;
    margin-top: 15px;
    
}

#contact-submit {
    margin-top: 35px;
    margin-bottom: -35px;
    width: 175px;
    border-radius: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #123;
    border: 1px solid #123;
}

.contact-input {
   width: 250px; 
    box-shadow: 5px 5px 10px rgb(44, 49, 59);
}

#message-input {
    width: 500px;
    box-shadow: 5px 5px 10px rgb(44, 49, 59);
}

/* Styles for the Bio page start here */
#bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: initialS;
}

#bio-title {
    color: #f8f9fa;
    margin-top: 45px;
}

.bio-content {
    color: #f8f9fa;
    background: ;
    margin-top: 25px;
    font-size: 20px;
    text-indent: 50px;
    line-height: 1.5;
    
}

#bio-picture {
    margin-top: 25px;
    border-radius: 50%;
    max-height: 250px;
}

/* Media Queries for responsiveness start here */

@media screen and (max-width: 850px) {
    #console-log {
        font-size: 18px;
    }
    #home-card-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
   .mb-3 {
    font-size: 18px;
   } 

   .portfolio-container {
    display: flex;
    flex-direction: column;
   }

   .portfolio-card {
    width: 95%;
   }
   
   .tabs {
    transform: translateY(0px);
   }
    
}

@media screen and (max-width:545px){
    #console-log {
        font-size: 14px;
    }    
}

@media  screen and (max-width: 506px) {
   
         .tabs {
            transform: translateY(0px);
            
         }  
}

@media screen and (max-width:442px){
    .display-4 {
        font-size: 32px;
    }

    #logo {
        height: 75px;
        width: 75px;
    }

    .nav-link {
        font-size: 12px;
    }
    #console-log {
        font-size: 12px;
    }
    #home-card-text {
        font-size: 10px;
    }

    #bio-picture {
        max-height: 150px;
    }

    .bio-content {
        font-size: 12px;
    }

}

@media screen and (max-width: 375px ) {
    .nav-link {
        font-size: 8px;
    }
         #console-log {
             font-size: 10px;
         }
    
         #home-card-text {
             font-size: 8px;
         }

}

@media screen and (max-width:300px ) {
    #console-log {
        font-size: 8px;
    }

    .nav-link {
        font-size: 6px;
        margin: 0
    }
}
    
